.armory-search {
    margin: 0 auto;
}

.armory-search-input {
    padding: 20px;
    position: relative;
    bottom: 19px;
}

.armory-search-input input[type="submit"] {
    position: relative;
    bottom: 3px;
}

.armory-search-input input[type="text"] {
    width: 500px;
}

.armory-search-input #realm-select {
    display: inline-block;
    height: 36px;
    bottom: 3px;
}

.armory-page .cont-image {
    padding: 12px 0 0 0;
}

.armory-page .search-results {
    margin: 15px auto 0 auto;
    height: 240px;
}

.armory-page .search-results p.no-input {
    line-height: 240px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
    position: relative;
    top: 110px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.search-results .character {
    display: block;
    float: left;
    text-align: left;
    padding: 6px 42px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

.character .profile, .character .s-class-icon {
    display: inline-block;
}

.character .s-class-icon {
    width:19px; height:19px;
    background-size:100%;
    border: solid 1px #774b84;
    border-radius:3px;
    box-shadow:inset 0 0 3px 1px #000, 0 0 3px #000,inset 0 0 0 1px rgba(0,0,0,.3);
    float:left;
    padding: 5px;
    margin-right: 5px;
}

.character:nth-child(-n+5) {
    margin-top: 14px;
}

.character .profile {
    position: relative;
    top: 2.3px;
}

a > .character {
    color: #9A9A8D;
}

a > .character:hover {
    color: #AAAAB1;
}

.character .profile h5 {
    font-size: 12px;
}

h6.under-name {
    margin: -3px 0 2px 0;
}

.character .profile p {
    font-size: 10px;
}

.left-armory {
    display: inline-block;
    padding: 10px 25px;
    width: 228px;
    height: 349px;
    float: left;
}

.character-model {
    display: inline-block;
    padding: 10px 0px;
}

.left-armory h4.name {
    font-size: 22px;
}

.left-armory h4.name .online {
    width: 5px;
    height: 5px;
    background: #31CE31;
    border-radius: 5px;
    border: 1px solid darkgreen;
    display: inline-block;
    position: relative;
    bottom: 3px;
    left: 5px;
}

.left-armory h4.name .offline {
    width: 5px;
    height: 5px;
    background: #CE3131;
    border-radius: 5px;
    border: 1px solid #211E17;
    display: inline-block;
    position: relative;
    bottom: 3px;
    left: 5px;
}

.left-armory h4.name, .left-armory .profile-level, .profile-info, .profile-avatar, .center-armory  {
    display: inline-block;
}

.profile-info {
    position: relative;
    left: -15px;
    bottom: 15px;
}

.profile-level {
    position: relative;
    right: 20px;
    color: #1CB93A;
    border: 1px solid #1A802F;
    padding: 4px;
    border-radius: 20px;
    font-size: 9px;
    text-align: center;
    background-color: #1C1713;
}

.left-armory .powers {
    width: 178px;
    margin-top: 13px;
    font-size: 10px;
    color: white;
    text-align: right;
}

.left-armory .powers .health-bar, .left-armory .powers .power-bar {
    padding: 3px;
    margin-bottom: 6px;
}

.left-armory .powers .health-bar {
    background-color: green;
    margin-bottom: 4px;
}

.power-bar.mana {
    background: blue;
}

.power-bar.rage {
    background: #C13232;
}

.power-bar.energy {
    background: #C1A232;
}

.power-bar.rune {
    background: #48ACB5;
}

.left-armory .stats {
    margin: 25px 0;
}

.left-armory .stat {
    margin-bottom: 6px;
}

.left-armory .stat h5 {
    font-size: 11px;
    margin-bottom: 2px;
}

.left-armory .stat p {
    font-size: 9px;
}

.left-armory .stats h3 {
    margin: 5px 0 3px 0;
}

.center-armory {
    position: relative;
    top: 23px;
    float: left;
    height: 349px;
}

.center-armory a {
    color: #C29945;
}

.stats h3 {
    color: #8B6036
}

.character-model {
    position: relative;
    float: right;
    bottom: 395px;
    left: 85px;
    height: 436px;
    width: 625px;
}

.character-model .model-viewer {
    width: 370px;
    height: 410px;
    position: relative;
    top: 25px;
    display: inline-block;
    float: left;
}

.left-row {
    position: relative;
    z-index: 1;
    top: 25px;
    display: inline-block;
    float: left;
    left: 47px;
}

.left-row .item {
    display: block;
    height: 45px;
    width: 45px;
    margin-bottom: 7px;
}

.item img {
    top: 0;
    width: 45px;
    border-radius: 3px;
}

.right-row {
    position: relative;
    z-index: 1;
    top: 25px;
    display: inline-block;
    right: 203px;
}

.right-row .item {
    display: block;
    height: 45px;
    width: 45px;
    margin-bottom: 7px;
}

.bottom-row {
    position: relative;
    z-index: 1;
    top: 26px;
    display: inline-block;
    right: 260px;
}

.bottom-row .item {
    display: inline-block;
    height: 45px;
    width: 45px;
    margin-right: 7px;
}